<div class="p-4">
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
        <a class="nav-link active" id="angry-tab" data-toggle="pill" href="#angry" role="tab">Angry</a>
        <a class="nav-link" id="bad-mood-tab" data-toggle="pill" href="#bad-mood" role="tab">Bad Mood</a>
        <a class="nav-link" id="bear-tab" data-toggle="pill" href="#bear" role="tab">Bear</a>
        <a class="nav-link" id="beg-tab" data-toggle="pill" href="#beg" role="tab">Beg</a>
        <a class="nav-link" id="blush-tab" data-toggle="pill" href="#blush" role="tab">Blush</a>
        <a class="nav-link" id="cat-tab" data-toggle="pill" href="#cat" role="tab">Cat</a>
        <a class="nav-link" id="confused-tab" data-toggle="pill" href="#confused" role="tab">Confused</a>
        <a class="nav-link" id="cry-tab" data-toggle="pill" href="#cry" role="tab">Cry</a>
        <a class="nav-link" id="cute-tab" data-toggle="pill" href="#cute" role="tab">Cute</a>
        <a class="nav-link" id="dance-tab" data-toggle="pill" href="#dance" role="tab">Dance</a>
        <a class="nav-link" id="depressed-tab" data-toggle="pill" href="#depressed" role="tab">Depressed</a>
        <a class="nav-link" id="devil-tab" data-toggle="pill" href="#devil" role="tab">Devil</a>
        <a class="nav-link" id="disappointed-tab" data-toggle="pill" href="#disappointed" role="tab">Disappointed</a>
        <a class="nav-link" id="drool-tab" data-toggle="pill" href="#drool" role="tab">Drool</a>
        <a class="nav-link" id="eat-tab" data-toggle="pill" href="#eat" role="tab">Eat</a>
        <a class="nav-link" id="evil-tab" data-toggle="pill" href="#evil" role="tab">Evil</a>
        <a class="nav-link" id="excited-tab" data-toggle="pill" href="#excited" role="tab">Excited</a>
        <a class="nav-link" id="fall-down-tab" data-toggle="pill" href="#fall-down" role="tab">Dall Down</a>
        <a class="nav-link" id="feces-tab" data-toggle="pill" href="#feces" role="tab">Feces</a>
        <a class="nav-link" id="feminine-tab" data-toggle="pill" href="#feminine" role="tab">Feminine</a>
        <a class="nav-link" id="flip-table-tab" data-toggle="pill" href="#flip-table" role="tab">Flip-Table</a>
        <a class="nav-link" id="flower-tab" data-toggle="pill" href="#flower" role="tab">Flower</a>
        <a class="nav-link" id="funny-tab" data-toggle="pill" href="#funny" role="tab">Funny</a>
        <a class="nav-link" id="glasses-tab" data-toggle="pill" href="#glasses" role="tab">Glasses</a>
        <a class="nav-link" id="grin-tab" data-toggle="pill" href="#grin" role="tab">Grin</a>
        <a class="nav-link" id="gross-tab" data-toggle="pill" href="#gross" role="tab">Gross</a>
        <a class="nav-link" id="happy-tab" data-toggle="pill" href="#happy" role="tab">Happy</a>
        <a class="nav-link" id="heart-tab" data-toggle="pill" href="#heart" role="tab">Heart</a>
        <a class="nav-link" id="hello-tab" data-toggle="pill" href="#hello" role="tab">Hello</a>
        <a class="nav-link" id="helpless-tab" data-toggle="pill" href="#helpless" role="tab">Helpless</a>
        <a class="nav-link" id="hide-tab" data-toggle="pill" href="#hide" role="tab">Hide</a>
        <a class="nav-link" id="hug-tab" data-toggle="pill" href="#hug" role="tab">Hug</a>
        <a class="nav-link" id="kiss-tab" data-toggle="pill" href="#kiss" role="tab">Kiss</a>
        <a class="nav-link" id="laugh-tab" data-toggle="pill" href="#laugh" role="tab">Laugh</a>
        <a class="nav-link" id="lenny-face-tab" data-toggle="pill" href="#lenny-face" role="tab">Lenny Face</a>
        <a class="nav-link" id="love-tab" data-toggle="pill" href="#love" role="tab">Love</a>
        <a class="nav-link" id="magic-tab" data-toggle="pill" href="#magic" role="tab">Magic</a>
        <a class="nav-link" id="make-up-my-mind-tab" data-toggle="pill" href="#make-up-my-mind" role="tab">Make Up My Mind</a>
        <a class="nav-link" id="middle-finger-tab" data-toggle="pill" href="#middle-finger" role="tab">Middle Finger</a>
        <a class="nav-link" id="monkey-tab" data-toggle="pill" href="#monkey" role="tab">Monkey</a>
        <a class="nav-link" id="music-tab" data-toggle="pill" href="#music" role="tab">Music</a>
        <a class="nav-link" id="nervous-tab" data-toggle="pill" href="#nervous" role="tab">Nervous</a>
        <a class="nav-link" id="peace-sign-tab" data-toggle="pill" href="#peace-sign" role="tab">Peace Sign</a>
        <a class="nav-link" id="proud-tab" data-toggle="pill" href="#proud" role="tab">Proud</a>
        <a class="nav-link" id="punch-tab" data-toggle="pill" href="#punch" role="tab">Punch</a>
        <a class="nav-link" id="rabbit-tab" data-toggle="pill" href="#rabbit" role="tab">Rabbit</a>
        <a class="nav-link" id="roger-that-tab" data-toggle="pill" href="#roger-that" role="tab">Roger That</a>
        <a class="nav-link" id="roll-over-tab" data-toggle="pill" href="#roll-over" role="tab">Roll Over</a>
        <a class="nav-link" id="run-tab" data-toggle="pill" href="#run" role="tab">Run</a>
        <a class="nav-link" id="sad-tab" data-toggle="pill" href="#sad" role="tab">Sad</a>
        <a class="nav-link" id="salute-tab" data-toggle="pill" href="#salute" role="tab">Salute</a>
        <a class="nav-link" id="scared-tab" data-toggle="pill" href="#scared" role="tab">Scared</a>
        <a class="nav-link" id="sheep-tab" data-toggle="pill" href="#sheep" role="tab">Sheep</a>
        <a class="nav-link" id="shocked-tab" data-toggle="pill" href="#shocked" role="tab">Shocked</a>
        <a class="nav-link" id="shrug-tab" data-toggle="pill" href="#shrug" role="tab">Shrug</a>
        <a class="nav-link" id="shy-tab" data-toggle="pill" href="#shy" role="tab">Shy</a>
        <a class="nav-link" id="sleep-tab" data-toggle="pill" href="#sleep" role="tab">Sleep</a>
        <a class="nav-link" id="smile-tab" data-toggle="pill" href="#smile" role="tab">Smile</a>
        <a class="nav-link" id="sparkle-tab" data-toggle="pill" href="#sparkle" role="tab">Sparkle</a>
        <a class="nav-link" id="spin-tab" data-toggle="pill" href="#spin" role="tab">Spin</a>
        <a class="nav-link" id="surprised-tab" data-toggle="pill" href="#surprised" role="tab">Surprised</a>
        <a class="nav-link" id="sweat-tab" data-toggle="pill" href="#sweat" role="tab">Sweat</a>
        <a class="nav-link" id="take-a-bow-tab" data-toggle="pill" href="#take-a-bow" role="tab">Take A Bow</a>
        <a class="nav-link" id="thats-it-tab" data-toggle="pill" href="#thats-it" role="tab">That's It</a>
        <a class="nav-link" id="thumbs-up-tab" data-toggle="pill" href="#" role="tab"></a>
        <a class="nav-link" id="tired-tab" data-toggle="pill" href="#thumbs-up" role="tab">Thumbs Up</a>
        <a class="nav-link" id="tremble-tab" data-toggle="pill" href="#tremble" role="tab">Tremble</a>
        <a class="nav-link" id="try-my-best-tab" data-toggle="pill" href="#try-my-best" role="tab">Try My Best</a>
        <a class="nav-link" id="unicode-tab" data-toggle="pill" href="#unicode" role="tab">Unicode</a>
        <a class="nav-link" id="upset-tab" data-toggle="pill" href="#upset" role="tab">Upset</a>
        <a class="nav-link" id="vomit-tab" data-toggle="pill" href="#vomit" role="tab">Vomit</a>
        <a class="nav-link" id="weird-tab" data-toggle="pill" href="#weird" role="tab">Weird</a>
        <a class="nav-link" id="wink-tab" data-toggle="pill" href="#wink" role="tab">Wink</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="angry" role="tabpanel"><app-angry class="p-3"></app-angry></div>
        <div class="tab-pane fade" id="bad-mood" role="tabpanel"><app-bad-mood class="p-3"></app-bad-mood></div>
        <div class="tab-pane fade" id="bear" role="tabpanel"><app-bear class="p-3"></app-bear></div>
        <div class="tab-pane fade" id="beg" role="tabpanel"><app-beg class="p-3"></app-beg></div>
        <div class="tab-pane fade" id="blush" role="tabpanel"><app-blush class="p-3"></app-blush></div>
        <div class="tab-pane fade" id="cat" role="tabpanel"><app-cat class="p-3"></app-cat></div>
        <div class="tab-pane fade" id="confused" role="tabpanel"><app-confused class="p-3"></app-confused></div>
        <div class="tab-pane fade" id="cry" role="tabpanel"><app-cry class="p-3"></app-cry></div>
        <div class="tab-pane fade" id="cute" role="tabpanel"><app-cute class="p-3"></app-cute></div>
        <div class="tab-pane fade" id="dance" role="tabpanel"><app-dance class="p-3"></app-dance></div>
        <div class="tab-pane fade" id="depressed" role="tabpanel"><app-depressed class="p-3"></app-depressed></div>
        <div class="tab-pane fade" id="devil" role="tabpanel"><app-devil class="p-3"></app-devil></div>
        <div class="tab-pane fade" id="disappointed" role="tabpanel"><app-disappointed class="p-3"></app-disappointed></div>
        <div class="tab-pane fade" id="drool" role="tabpanel"><app-drool class="p-3"></app-drool></div>
        <div class="tab-pane fade" id="eat" role="tabpanel"><app-eat class="p-3"></app-eat></div>
        <div class="tab-pane fade" id="evil" role="tabpanel"><app-evil class="p-3"></app-evil></div>
        <div class="tab-pane fade" id="excited" role="tabpanel"><app-excited class="p-3"></app-excited></div>
        <div class="tab-pane fade" id="fall-down" role="tabpanel"><app-fall-down class="p-3"></app-fall-down></div>
        <div class="tab-pane fade" id="feces" role="tabpanel"><app-feces class="p-3"></app-feces></div>
        <div class="tab-pane fade" id="feminine" role="tabpanel"><app-feminine class="p-3"></app-feminine></div>
        <div class="tab-pane fade" id="flip-table" role="tabpanel"><app-flip-table class="p-3"></app-flip-table></div>
        <div class="tab-pane fade" id="flower" role="tabpanel"><app-flower class="p-3"></app-flower></div>
        <div class="tab-pane fade" id="funny" role="tabpanel"><app-funny class="p-3"></app-funny></div>
        <div class="tab-pane fade" id="glasses" role="tabpanel"><app-glasses class="p-3"></app-glasses></div>
        <div class="tab-pane fade" id="grin" role="tabpanel"><app-grin class="p-3"></app-grin></div>
        <div class="tab-pane fade" id="gross" role="tabpanel"><app-gross class="p-3"></app-gross></div>
        <div class="tab-pane fade" id="happy" role="tabpanel"><app-happy class="p-3"></app-happy></div>
        <div class="tab-pane fade" id="heart" role="tabpanel"><app-heart class="p-3"></app-heart></div>
        <div class="tab-pane fade" id="hello" role="tabpanel"><app-hello class="p-3"></app-hello></div>
        <div class="tab-pane fade" id="helpless" role="tabpanel"><app-helpless class="p-3"></app-helpless></div>
        <div class="tab-pane fade" id="hide" role="tabpanel"><app-hide class="p-3"></app-hide></div>
        <div class="tab-pane fade" id="hug" role="tabpanel"><app-hug class="p-3"></app-hug></div>
        <div class="tab-pane fade" id="kiss" role="tabpanel"><app-kiss class="p-3"></app-kiss></div>
        <div class="tab-pane fade" id="laugh" role="tabpanel"><app-laugh class="p-3"></app-laugh></div>
        <div class="tab-pane fade" id="lenny-face" role="tabpanel"><app-lenny-face class="p-3"></app-lenny-face></div>
        <div class="tab-pane fade" id="love" role="tabpanel"><app-love class="p-3"></app-love></div>
        <div class="tab-pane fade" id="make-up-my-mind" role="tabpanel"><app-make-up-my-mind class="p-3"></app-make-up-my-mind></div>
        <div class="tab-pane fade" id="middle-finger" role="tabpanel"><app-middle-finger class="p-3"></app-middle-finger></div>
        <div class="tab-pane fade" id="monkey" role="tabpanel"><app-monkey class="p-3"></app-monkey></div>
        <div class="tab-pane fade" id="music" role="tabpanel"><app-music class="p-3"></app-music></div>
        <div class="tab-pane fade" id="nervous" role="tabpanel"><app-nervous class="p-3"></app-nervous></div>
        <div class="tab-pane fade" id="peace-sign" role="tabpanel"><app-peace-sign class="p-3"></app-peace-sign></div>
        <div class="tab-pane fade" id="proud" role="tabpanel"><app-proud class="p-3"></app-proud></div>
        <div class="tab-pane fade" id="punch" role="tabpanel"><app-punch class="p-3"></app-punch></div>
        <div class="tab-pane fade" id="rabbit" role="tabpanel"><app-rabbit class="p-3"></app-rabbit></div>
        <div class="tab-pane fade" id="roger-that" role="tabpanel"><app-roger-that class="p-3"></app-roger-that></div>
        <div class="tab-pane fade" id="roll-over" role="tabpanel"><app-roll-over class="p-3"></app-roll-over></div>
        <div class="tab-pane fade" id="run" role="tabpanel"><app-run class="p-3"></app-run></div>
        <div class="tab-pane fade" id="sad" role="tabpanel"><app-sad class="p-3"></app-sad></div>
        <div class="tab-pane fade" id="salute" role="tabpanel"><app-salute class="p-3"></app-salute></div>
        <div class="tab-pane fade" id="scared" role="tabpanel"><app-scared class="p-3"></app-scared></div>
        <div class="tab-pane fade" id="sheep" role="tabpanel"><app-sheep class="p-3"></app-sheep></div>
        <div class="tab-pane fade" id="shocked" role="tabpanel"><app-shocked class="p-3"></app-shocked></div>
        <div class="tab-pane fade" id="shrug" role="tabpanel"><app-shrug class="p-3"></app-shrug></div>
        <div class="tab-pane fade" id="shy" role="tabpanel"><app-shy class="p-3"></app-shy></div>
        <div class="tab-pane fade" id="sleep" role="tabpanel"><app-sleep class="p-3"></app-sleep></div>
        <div class="tab-pane fade" id="smile" role="tabpanel"><app-smile class="p-3"></app-smile></div>
        <div class="tab-pane fade" id="sparkle" role="tabpanel"><app-sparkle class="p-3"></app-sparkle></div>
        <div class="tab-pane fade" id="spin" role="tabpanel"><app-spin class="p-3"></app-spin></div>
        <div class="tab-pane fade" id="surprised" role="tabpanel"><app-surprised class="p-3"></app-surprised></div>
        <div class="tab-pane fade" id="sweat" role="tabpanel"><app-sweat class="p-3"></app-sweat></div>
        <div class="tab-pane fade" id="take-a-bow" role="tabpanel"><app-take-a-bow class="p-3"></app-take-a-bow></div>
        <div class="tab-pane fade" id="thats-it" role="tabpanel"><app-thats-it class="p-3"></app-thats-it></div>
        <div class="tab-pane fade" id="thumbs-up" role="tabpanel"><app-thumbs-up class="p-3"></app-thumbs-up></div>
        <div class="tab-pane fade" id="tremble" role="tabpanel"><app-tremble class="p-3"></app-tremble></div>
        <div class="tab-pane fade" id="try-my-best" role="tabpanel"><app-try-my-best class="p-3"></app-try-my-best></div>
        <div class="tab-pane fade" id="unicode" role="tabpanel"><app-unicode class="p-3"></app-unicode></div>
        <div class="tab-pane fade" id="upset" role="tabpanel"><app-upset class="p-3"></app-upset></div>
        <div class="tab-pane fade" id="vomit" role="tabpanel"><app-vomit class="p-3"></app-vomit></div>
        <div class="tab-pane fade" id="weird" role="tabpanel"><app-weird class="p-3"></app-weird></div>
        <div class="tab-pane fade" id="wink" role="tabpanel"><app-wink class="p-3"></app-wink></div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
